In [1]:
# import libraries
import geopandas as gpd
import pandas as pd
import numpy as np
import cenpy as cen
import seaborn as sns
import matplotlib.pyplot as plt
from shapely import wkt

In [2]:
#import all Seattle census tracts
tracts = gpd.read_file("/Users/perryjohnson/Desktop/Walkability/Data/KingCountyTractsShapefiles/kc_tract_10.shp")
tracts.head(1)

,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,Shape_Leng,Shape_Area,geometry
0,1,53,033,022006,53033022006,220.06,Census Tract 220.06,G5020,S,1408907.0,0.0,+47.7043393,-122.1992667,21339.05658,1.516433e+07,"POLYGON ((1301362.03695561 260531.9154131114, ..."

In [3]:
#import all Seattle census population tracts
census = gpd.read_file("/Users/perryjohnson/Desktop/Walkability/Data/tract10/tract10.shp")

In [4]:
# check coordinate reference systems (crs)
print(tracts.crs)
print(census.crs)

{'init': 'epsg:2926'}
{'init': 'epsg:2927'}

In [5]:
# set them to same crs
tracts = tracts.to_crs('epsg:2927');

In [6]:
columns = ['GEOID10', 'POP10', 'ALANDMI']
cleaned_census = census[columns]

In [7]:
#merge the files
demographics = pd.merge(cleaned_census, tracts, on='GEOID10')
demographics.head(2)

,GEOID10,POP10,ALANDMI,OBJECTID,STATEFP10,COUNTYFP10,TRACTCE10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,Shape_Leng,Shape_Area,geometry
0,53033000100,6255,0.738,29,53,033,000100,1,Census Tract 1,G5020,S,1910585.0,1486352.0,+47.7238068,-122.2819279,24539.166500,3.656163e+07,"POLYGON ((1202194.865825963 875053.9366089341,..."
1,53033000200,7646,1.269,28,53,033,000200,2,Census Tract 2,G5020,S,3286319.0,0.0,+47.7266401,-122.3099961,24111.688266,3.537107e+07,"POLYGON ((1195462.767350596 880582.6357230031,..."

In [8]:
demographics.to_csv('Data/all_demographics.csv')